
.red-text {
  color: #FF0000;
  font-size: 300%;
  margin-left: 25px;
  margin-top: 90px;
}

h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-left: 50px;
  color: white; 
  text-indent: 100px;
}
h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 35px;
  color: #000000; 
}
h4 {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 35px;
  color: #000000; 
}
h5 {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 35px;
  color: white; 
}
h3 {
 font-size: 600px;
  margin-top: 10px;
  text-align: center; /* Center the text horizontally */
  color: rgba(169, 169, 169, 0.2); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.header-text {
  text-align: center;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.social-link {
  display: inline-block;
  padding: 10px;
  color: rgba(169, 169, 169, 0.2); 
     margin-top: -13px;
}

.social-link img {
  max-width: 30px;
  height: auto;
}

p1 {
  font-size: 25px;
   color: white; 
   margin-left: 40px;
}

.button-container {
  position: sticky;
  top: 0px; 
  left: 20px; 
  z-index: 999;
     background-color: #FFFFFF;
}

.button {
  display: inline-block;
  padding: 10px 50px;
  background-color:rgba(169, 169, 169, 0.0);
  color: #000000;
  text-decoration: none;
  border: none;
  font-size: 16px;
  margin: 10px;
   
}


#home { 
  min-height: 600px;
  padding: 20px;
  background-color: #000000;
  position: relative;
  margin-top: 10px;
}

.resized-image {
  width: 300px; /* Adjust the width as desired */
  height: 300px; /* Automatically adjust the height to maintain aspect ratio */
  margin-top: -200px;
      margin-left: 1000px; 
}
#about { 
  min-height: 560px;
  padding: 20px;
  background-color: #f1f1f1;
  position: relative;
    
}

.resume {
  display: inline-block;
  padding: 10px 40px;
  background-color: #A9A9A9;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 1380px;
  margin-top: -1000px;
  margin-bottom: 20px; 
    border-radius: 12px;
}
.seminar {
  display: inline-block;
  padding: 10px 39px;
  background-color: #A9A9A9;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 1380px;
  margin-top: -1000px;
  margin-bottom: 20px; 
    border-radius: 12px;
}
.awards {
  display: inline-block;
  padding: 10px 42px;
  background-color: #A9A9A9;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 1380px;
  margin-top: -1000px;
  margin-bottom: 20px; 
    border-radius: 12px;
}
.aboutJRU {
  display: inline-block;
  padding: 10px 30px;
  background-color: #A9A9A9;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 1380px;
  margin-top: -1000px;
  margin-bottom: 20px; 
    border-radius: 12px;
}

.cut-text {
     font-family: Comic Sans MS;
    margin-top: 120px;
    text-indent: 100px;
     text-align: center;
     word-break: break-word;
  
}

#works {
    min-height: 500px;
    padding: 20px;
    background-color: #C0C0C0;
    text-align: center;
     margin-top: -10px;
}

h6 {
  font-size: 60px;
  margin-top: 10px;
  margin-left: 35px;
  color: #8D918D; 
  text-align: center;
  font-family: Lucida Console; /* Specify your desired font or font stack */

}
.group{
     margin-top: -100px;
}
.Thesis {
  display: inline-block;
  padding: 10px 50px;
  background-color: #A9A9A9;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 20px; 
  color: black;
    border-radius: 12px;
}

.internship {
  display: inline-block;
  padding: 10px 50px;
  background-color: #A9A9A9;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 20px; 
  color: black;
    border-radius: 12px;
}

#contact {
    min-height: 600px;
    padding: 20px;
    background-color: #000000; /* Blue background color for Section 3 */
      color: white; 
}
